<div class="row">
  <div class="page-header col-xs-8 col-xs-offset-2">
    <h1>Sign Up!</h1>
  </div>
</div>
<div class="row">
  <%= simple_form_for :user, url: :users, remote: true  do |f| %>
    <div class= "col-xs-8 col-xs-offset-2">
      <%= f.input :email, label:false, placeholder: "Email"%>
      <%= f.input :password, label:false, placeholder:"Password" %>
      <%= f.input :password_confirmation, label:false, placeholder:"Confirm Password" %>
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    </div>
  <% end %>
  <div class= "col-xs-8 col-xs-offset-2">
  <%= link_to "Sign In", :new_session, remote:true, class: "btn btn-primary" %>
</div>
